# Capítulo 4 - Variáveis, Tipos e Estruturas de Dados

## 1. Números e operações matemáticas

- Adição - +
- Subtração - -
- Multiplicação: *
- Divisão - /
- Potência - **
- Resto da divisão de números inteiros: %

### Função Type

In [1]:
type(5)

int

In [2]:
type(5.0)

float

In [3]:
a = 'Estou estudando na Data Science Academy'
type(a)

str

### Operações com Números Float

In [4]:
# Quando somamos dois números float, o resultado é float:

3.1+ 6.4

9.5

In [10]:
# Quandos somamos um número int com um número float, o resultado é float:

4 + 4.0

8.0

In [9]:
# Quando somamos dois números inteiros, o resultado é inteiro:
4 + 4

8

In [11]:
# Já quando dividimos com uma única barra, o resultado é sempre float:

4 / 2

2.0

In [21]:
# Para forçar o resultado para um int, usamos duas barras.
# Se eu forçar um resultado int em uma divisão com resto, recebo apenas o resultado int da divisão, sem o resto:

print(f'4 // 2 = {4 // 2}')
print(f'5 // 2 = {5 // 2 }')

4 // 2 = 2
5 // 2 = 2

In [14]:
## Se um dos números for float, mesmo com duas barras, o resultado será float:

4 / 3.0

1.3333333333333333

### Conversão

In [22]:
float(9)

9.0

In [23]:
int(6.0)

6

In [26]:
int(6.5)

6

### Hexadecimal e Binário

In [27]:
hex(394)

'0x18a'

In [28]:
hex(217)

'0xd9'

In [31]:
bin(286)

'0b100011110'

In [30]:
bin(390)

'0b110000110'

### Funções abs, round e pow

In [36]:
# abs: Retorna o valor absoluto
(abs(-8))

8

In [37]:
(abs(8))

8

In [34]:
# round: arredonda o valor
round(3.1415926,2)

3.14

In [35]:
# pow: potência. Pode usar um operador matemático (**) ou com a função
pow(4,2)

16

## 2. Variáveis e operadores

In [38]:
# Uma variável é uma área de memória do computador para armazenar algum valor.
# Atribuindo o valor 1 à variável var_teste:

var_teste = 1

In [39]:
# É possível imprimir a variável com print ou apenas usando nome da variável:

print(var_teste)
var_teste

1

1

In [40]:
# Não é possível usar uma variável que não foi definida:
variavel_nova

NameError: name 'variavel_nova' is not defined

In [41]:
# Python usa tipificação dinâmica, ele define o tipo a partir do valor da variável.
# Outras linguagens exige que você defina o tipo da variável manualmente.

type(var_teste)

int

In [42]:
# O tipo também é alterado dinamicamente.
# Isso pode causar problemas:

var_teste = 9.5
type(var_teste)

float

### Declaração múltipla

In [43]:
# É possível declarar múltiplas variáveis numa mesma linha:

pessoa1, pessoa2, pessoa3 = 'Bob', 'Maria', 'Ana'

In [44]:
pessoa1

'Bob'

In [45]:
pessoa2

'Maria'

In [46]:
pessoa3

'Ana'

In [48]:
# No caso abaixo, em vez de criar 3 variáveis com valores diferentes, temos 3 variáveis com o mesmo valor:

fruta1 = fruta2 = fruta3 = 'Melancia'
print(fruta1)
print(fruta2)
print(fruta3)

Melancia
Melancia
Melancia

In [49]:
# Ponto de atenção: Python é case-sensitive

Fruta2

NameError: name 'Fruta2' is not defined

-----------------

Algumas regras de nomeação de variável:

- Não é possível começar nome de variável com número
- Nâo é possível usar palavras reservadas como nome de variável

------------------

### Variáveis atribuídas a outras variáveis e ordem dos operadores

In [50]:
largura = 2

In [51]:
altura = 4

In [56]:
area = largura * altura
area

8

In [60]:
# O Python segue a ordem dos operadores da matemática:

perimetro = 2 * largura + 2 * altura
print(f'Sem parêntesis: {perimetro1}')

perimetro = 2 * (largura + 2) * altura
print(f'Com parêntesis: {perimetro}')

Sem parêntesis: 12
Com parêntesis: 32

### Operações com variáveis

In [61]:
idade1 = 25
idade2 = 35

In [63]:
idade1 + idade2

60

In [64]:
idade2 - idade1

10

In [65]:
idade2 * idade1

875

In [66]:
idade2 / idade1

1.4

In [67]:
idade2 % idade1

10

### Concatenação de Variáveis

In [69]:
# Em variáveis de tipo string, o sinal de + concatena:

nome= 'Bob'
sobrenome = 'Marley'
fullName = nome + ' ' + sobrenome
fullName

'Bob Marley'

## 3. Strings e indexação

- Strings são criadas em Python usando aspas simples ou duplas.
- O Python sempre imprime em aspas simples, a não ser que a string utilize os dois tipos.
- Elas podem ser uma única palavra, um único caractere ou várias palavras.

In [71]:
# String criada com aspas duplas, impressa em aspas simples:
"Olá"

'Olá'

In [72]:
# String criada com aspas simples e duplas, impressa com ambas:
"Testando strings em 'Python'"

"Testando strings em 'Python'"

### Imprimindo uma string

In [73]:
print('Testando strings em Python')

Testando strings em Python

In [75]:
# Caractere `\n` é equivalente ao enter. Note que o espaço também é impresso:
print('Testando \n strings \n  em \n Python')

Testando
 strings
  em
 Python

In [76]:
# Também é possível imprimir apenas o caractere `\n`:
print('\n')

### Indexando strings

- Cada caractere de uma string no Python recebe um índice
- O índice no Python começa por 0

In [77]:
s = 'Data Science Academy'
print(s)

Data Science Academy

In [84]:
# Primeiro elemento da string:
s[0]

'D'

In [85]:
s[1]

'a'

In [86]:
s[2]

't'

In [87]:
s[3]

'a'

- Também é possível "fatiar" (slice) a string, usando :
- Nesse caso, você faz uma busca usando um intervalo de itens da string.
- Isso serve para vários tipos de variáveis, não apenas string

In [88]:
# Retorna todos os elementos da string a partir da posição dada até o fim da string
s[1:]

'ata Science Academy'

In [90]:
# Isso não altera a string original:
s

'Data Science Academy'

In [92]:
# Retorna tudo até a posição 3, de maneira exclusiva (o índice 3 não entra no corte)
s[:3]

'Dat'

In [93]:
# Também é possível ler de trás para frente com indexação negativa:
s[-1]

'y'

In [94]:
# Retornar tudo, exceto a última letra:
s[:-1]

'Data Science Academ'

Também é possível fatiar em pedações específicos. Por padrão, o slicer pega os caracteres de 1 em 1. Porém, usando :: em vez de:, é possível determinar que ele deve pegar de n em n caracteres:

In [96]:
s[::1]

'Data Science Academy'

In [97]:
s[::2]

'Dt cec cdm'

In [100]:
# Usando :: e colocando indexação negativa, é possível trazer os caracteres de trás para frente
s[::-1]

'ymedacA ecneicS ataD'

### Propriedades de Strings

In [103]:
# String é um objeto imutável, não é possível alterar um elemento, apenas a string completa:

s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [114]:
# É possível concatenar strings com `+`:

s + ' é a melhor maneira de estar preparado'

'Data Science Academy é a melhor maneira de estar preparado'

In [115]:
# No exemplo anterior, não alteramos a string, apenas printamos. Abaixo, modificamos:

s= s + ' é a melhor maneira de estar preparado'
print(s)

Data Science Academy é a melhor maneira de estar preparado

In [109]:
# Assim como acontece com o `+`, é possível usar `*` para manipular a string.
# O * repete a string pelo número de vezes indicado:

letra = 'p'
letra * 3

'ppp'

### Funções Bult-in de Strings

- Python é uma linguagem orientada a objetos. Isso significa, por exemplo, que a variável `s` que criamos é uma variável do tipo string e um objetivo da classe string.

- Cada objeto tem métodos e atributos com os quais podemos trabalhá-los. No VSCode, basta digitar . após o nome do objeto que aparece uma lista de métodos e atributos disponíveis.

In [118]:
s

'Data Science Academy é a melhor maneira de estar preparado'

In [124]:
# Upper Case
# O método deve ser chamado com parênteses no final:
s.upper()

Data Science Academy é a melhor maneira de estar preparado

In [125]:
# Note que ele não alterou a string, apenas printou de um jeito diferente:
s

'Data Science Academy é a melhor maneira de estar preparado'

In [126]:
# Lower Case
s.lower()

'data science academy é a melhor maneira de estar preparado'

In [127]:
# Dividir uma string por espaços em branco (padrão)
s.split()

['Data',
 'Science',
 'Academy',
 'é',
 'a',
 'melhor',
 'maneira',
 'de',
 'estar',
 'preparado']

In [129]:
# Dividir uma string por um elemento específico
# Note que o elemento divisor desaparece do resultado

s.split('y')

['Data Science Academ', ' é a melhor maneira de estar preparado']

### Funções String

In [130]:
# Sobrescrevemos o valor de `s`

s = 'Seja bem-vindo ao universo da Linguagem Python'
s

'Seja bem-vindo ao universo da Linguagem Python'

In [131]:
# Colocar apenas a primeira letra a string em maiúsculo

s.capitalize()

'Seja bem-vindo ao universo da linguagem python'

In [132]:
# Contar quantas vezes aparece um determinado caractere

s.count('a')

4

In [133]:
# Verificar se a string é completamente composta por números

s.isalnum()

False

In [134]:
# Verificar se a string é completamente em letras minúsculas
s.islower()

False

In [135]:
# Verificar se a string é toda de espaço
s.isspace()

False

In [138]:
# Verificar se a string termina com "o"
s.endswith('o')

False

### Comparando strings

In [139]:
print('Python' == 'R')

False

In [143]:
print('Python' == 'Python')

True

## 4. Trabalhando com listas

In [4]:
# Uma lista é caracterizada no Python por colchetes []
# Na lista abaixo, temos uma string com vários valores
lista_1 = ['arroz,frango,tomate,leite']

In [2]:
type(lista_1)

list

In [3]:
# Imprimindo a lista
print(lista_1)

['arroz,frango,tomate,leite']

In [5]:
# Agora, vamos criar uma lista com 4 strings separadas
lista_2 = ['arroz','frango','tomate','leite']

In [6]:
type(lista_2)

list

In [8]:
# Note que o resultado do print é diferente:
print(lista_2)

['arroz', 'frango', 'tomate', 'leite']

In [10]:
# É possível criar listas com tipos diferentes de dados (números e strings, por exemplo)
lista_3 = [23,100,'Cientista de Dados']
type(lista_3)

list

In [11]:
print(lista_3)

[23, 100, 'Cientista de Dados']

In [15]:
# É possível atribuir cada valor da lista a uma variável.
# Para isso, usamos indexação:

item1 = lista_3[0]
item2 = lista_3[1]
item3 = lista_3[2]

print(item1,item2,item3)

23 100 Cientista de Dados

In [16]:
# Note que se tentarmos fazer isso com a lista_1 teremos erro
# Isso porque a lista_1 tem apenas 1 string como elemento

item1 = lista_1[0]
item2 = lista_1[1]
item3 = lista_1[2]

print(item1,item2,item3)

IndexError: list index out of range

### Alterando um item da lista

In [18]:
lista_2

['arroz', 'frango', 'tomate', 'leite']

In [19]:
lista_2[2]

'tomate'

In [23]:
lista_2[2] = 'chocolate'

In [24]:
lista_2[2]

'chocolate'

In [25]:
lista_2

['arroz', 'frango', 'chocolate', 'leite']

### Deletando um item da lista

In [26]:
lista_2

['arroz', 'frango', 'chocolate', 'leite']

In [27]:
# Não é possível deletar um item que não existe na lista:
del lista_2[4]

IndexError: list assignment index out of range

In [28]:
# Agora sim, deletando com o índice correto:

del lista_2[3]
lista_2

['arroz', 'frango', 'chocolate']

### Listas de listas (listas aninhadas)

São matrizes no Python

In [29]:
# Criando uma lista de listas:
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]
print(listas)

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [33]:
# Atribuindo um item da lista a uma variável:
a = listas[0]
a

[1, 2, 3]

In [31]:
# Agora, atribuímos a `b` o primeiro item de `a`
b = a[0]
b

1

In [36]:
# Vamos fazer o mesmo com o segundo elemento de `listas`
list1 = listas[1]
list1

[10, 15, 14]

In [37]:
valor_1_0 = list1[0]
valor_1_0

10

O jeito ideal de fazer isso é transformando em matriz (pacote Numpy) ou dataframe (pacote Pandas).

### Operações com listas

In [43]:
# Também é possível fazer essa atribuição de variável que fizemos lá em cima com anotação direta:
print(listas)
a = listas[0][0]
print(a)

b = listas[1][2]
print(b)

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]
1
14

In [44]:
# Também é possível fazer uma operação aritmética enquanto fazemos o slice

c = listas[0][2] + 10
c

13

In [46]:
# Isso também pode ser feito com uma nova variável

d = 10
e = d * listas[2][0]
e

101.0

### Concatenando listas

In [48]:
lista_s1 = [34,32,56]
lista_s1

[34, 32, 56]

In [57]:
lista_s2 = [21,90,51]
lista_s2

[21, 90, 51]

In [58]:
# Concatenamos listas com o caractere `+`
# O Python junta os elementos das duas lista em uma só. Se houver elemento repetido, ele repete.
lista_total = lista_s1 + lista_s2
lista_total

[34, 32, 56, 21, 90, 51]

### Operador in

Verifica se um determinado valor está na lista

In [62]:
lista_teste_op = [100,2,-5,3.4]

#Verifica se 10 está na lista
print(10 in lista_teste_op)

#Verifica se 100 está na lista
print(100 in lista_teste_op)

False
True

### Funções Built-in de lista

In [96]:
lista_numeros = [10,20,50,-3.4]

In [97]:
# Retorna valor máximo da lista
max(lista_numeros)

50

In [98]:
# Retorna valor mínimo da lista
min(lista_numeros)

-3.4

In [99]:
# Adiciona um item ao final da lista:
lista_numeros.append(14)
lista_numeros

[10, 20, 50, -3.4, 14]

In [100]:
# Se você repetir o append, ele acrescenta de novo:
lista_numeros.append(14)
lista_numeros

[10, 20, 50, -3.4, 14, 14]

In [101]:
# Contar quantas vezes um elemento aparece na lista:
lista_numeros.count(14)

2

In [102]:
# É possível criar uma lista vazia:
a = []

In [103]:
print(a)

[]

In [104]:
type(a)

list

In [105]:
a.append(10)
a

[10]

In [106]:
a.append(50)
a

[10, 50]

In [107]:
# É possível passar os elementos de uma lista para a outra:

new_list = []
for item in a:
    new_list.append(item)
new_list

[10, 50]

In [108]:
# Também é possível acrescentar múltiplos elementos a uma lista já existente
# Isso é diferente de append porque append só aceita um elemento

a.extend([21,23])
a

[10, 50, 21, 23]

In [109]:
# Note que, no bloco acima, os elementos foram acrescentados como lista, pois o extend só aceita um argumento iterável.
# Se tentássemos como dois elementos separados, ele daria erro:
a.extend(21,23)

TypeError: list.extend() takes exactly one argument (2 given)

In [110]:
# Também é possível verificar o índice de um determinado elemento:
a.index(50)

1

In [111]:
# Se o elemento não existir na lista, teremos erro:
a.index(14)

ValueError: 14 is not in list

In [112]:
# Também é possível inserir um elemento numa posição específica, usando .insert:
a.insert(2,14)
a

[10, 50, 14, 21, 23]

In [113]:
# Da mesma forma, é possível remover um elemento:
a.remove(14)
a

[10, 50, 21, 23]

In [116]:
# Inverter a ordem da lista:
a.reverse()
a

[23, 21, 50, 10]

In [118]:
# Ordernar a lista:
a.sort()
a

[10, 21, 23, 50]

## 5. Trabalhando com dicionários

- Dicionários são pares de chave e valor
- Na lista, os elementos são independentes um do outro; no dicionário, são dependentes em pares

In [120]:
# Dicionários são identificados no Python por chaves {}
estudantes_dict = {'Pedro':24,'Ana':22,'Ronaldo':26,'Janaína':25}
type(estudantes_dict)

dict

In [122]:
print(estudantes_dict)

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaína': 25}

In [123]:
# Retonar a idade (valor) de Pedro (chave):
estudantes_dict['Pedro']

24

In [124]:
# Adicionar um elemento ao dicionário:
estudantes_dict['Marcelo'] = 23
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaína': 25, 'Marcelo': 23}

In [125]:
estudantes_dict['Marcelo']

23

In [126]:
# Limpar o dicionário
estudantes_dict.clear()
estudantes_dict

{}

In [127]:
# Deletar a variável

del estudantes_dict

In [128]:
estudantes_dict

NameError: name 'estudantes_dict' is not defined

In [129]:
# Cada par é um elemento do dicionário

estudantes = {'Pedro':24,'Ana':22,'Ronaldo':26,'Janaína':25}
len(estudantes)

4

In [130]:
# Retornar apenas as chaves
estudantes.keys()

dict_keys(['Pedro', 'Ana', 'Ronaldo', 'Janaína'])

In [131]:
# Retornar apenas valores
estudantes.values()

dict_values([24, 22, 26, 25])

In [132]:
# Retornar itens
estudantes.items()

dict_items([('Pedro', 24), ('Ana', 22), ('Ronaldo', 26), ('Janaína', 25)])

In [133]:
# Atualizar um dicionário com um novo dicionário

estudantes2 = {'Camila':27,'Adriana':28,'Roberta':26}
print(estudantes2)

estudantes.update(estudantes2)
estudantes

{'Camila': 27, 'Adriana': 28, 'Roberta': 26}

{'Pedro': 24,
 'Ana': 22,
 'Ronaldo': 26,
 'Janaína': 25,
 'Camila': 27,
 'Adriana': 28,
 'Roberta': 26}

In [134]:
# Criar um dicionário vazio e acrescentar itens:

dic1 = {}
print(dic1)

dic1['chave_um'] = 2
print(dic1)

{}
{'chave_um': 2}

In [137]:
# É possível colocar uma lista dentro de um dicionário
dic2 = {'chave1':1230,'chave2':[22,453,73.4],'chave3':['brócolis','pimentão','tomate']}
dic2

{'chave1': 1230,
 'chave2': [22, 453, 73.4],
 'chave3': ['brócolis', 'pimentão', 'tomate']}

In [138]:
# É possível acessar um item de uma lista que está dentro de um dicionário
dic2['chave3'][0].upper()

'BRÓCOLIS'

In [139]:
# Também é possível fazer operações com itens da lista dentro do dicionário
var1 = dic2['chave2'][0] -2
var1

20

In [141]:
# Fazer duas operações no mesmo comando para atualizar um item da lista
dic2['chave2'][0] -= 2
dic2

{'chave1': 1230,
 'chave2': [20, 453, 73.4],
 'chave3': ['brócolis', 'pimentão', 'tomate']}

### Criando dicionários aninhados

In [146]:
# Nesse exemplo, temos um dicionário dentro de um dicionário dentro de um dicionário

dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'Dict aninhado em Python'}}}

In [147]:
# Para buscar o valor, é preciso usar as 3 chaves

dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

'Dict aninhado em Python'

## 6. Trabalhando com Tuplas

- Estrutura mais limitada entre as três últimas
- Usada geralmente como saída ou quando se quer evitar modificações (por exemplo, para definir parâmetros)
- É indicada por parênteses

In [148]:
# Aceita elementos de tipos diferentes
tupla1 = ('Geografia',22,'Elefantes',9.8,'Python')
tupla1

('Geografia', 22, 'Elefantes', 9.8, 'Python')

In [150]:
# Não suporta append()
tupla1.append('Chocolate')

AttributeError: 'tuple' object has no attribute 'append'

In [151]:
# Não suporta delete de um item específico
del tupla1['Elefantes']

TypeError: 'tuple' object does not support item deletion

In [152]:
# Pode ter um único item
tupla1 = ('Chocolate')
tupla1

'Chocolate'

In [153]:
# É possível fazer indexação igual fazemos em listas e dicionários
tupla1 = ('Geografia',22,'Elefantes',9.8,'Python')
tupla1[0]

'Geografia'

In [154]:
# Slicing
tupla1[1:]

(22, 'Elefantes', 9.8, 'Python')

In [156]:
# Verificar índice de um determinado elemento
tupla1.index('Elefantes')

2

In [157]:
# Não suporta atribuição de item, porque não pode ser modificada
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [159]:
# Pode ser deletada

del tupla1
tupla1

NameError: name 'tupla1' is not defined

In [167]:
# Se eu quiser acrescentar um elemento a uma tupla, por exemplo, posso convertê-la em lista
t2 = ('A','B','C')
lista_t2 = list(t2)

In [168]:
type(t2)

tuple

In [169]:
type(lista_t2)

list

In [170]:
# Acrescento o elemento à lista:
lista_t2.append('D')
lista_t2

['A', 'B', 'C', 'D']

In [171]:
# Converto a lista de volta em tupla e sobrescrevo a variável da tupla original:
t2 = tuple(lista_t2)
t2

('A', 'B', 'C', 'D')